<p>
  <b>User:</b>
  <%=h @booking.user.login %>
</p>

<p>
  <b>Arrival:</b>
  <%=h @booking.arrival %>
</p>

<p>
  <b>Departure:</b>
  <%=h @booking.departure %>
</p>

<p>
  <b>Accommodation:</b>
  <ul>
  <% @booking.booking_items.each do |bi| %>
    <li><%=h bi.quantity %> x <%=h bi.priced_item.name %></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_admin_booking_path(@booking) %> |
<%= link_to 'Back', admin_bookings_path %>
