  <%= f.error_messages %>

  <p>
    <%= f.label :booking_id %><br />
    <%= f.select(:booking_id, @booking) %>
  </p>
  <p>
    <%= f.label :priced_item %><br />
    <%= f.text_field :quantity %> x <%= f.collection_select(:priced_item_id, @priced_items, :id, :name) %>
  </p>

  <p>
    <%= f.submit button_text %>
  </p>
