<h1>Listing booking items</h1>

<table>
  <tr>
    <th>Booking id</th>
    <th>Priced Item</th>
    <th>Quantity</th>
  </tr>

<% @booking_items.each do |booking_item| %>
  <tr>
    <td><%=h booking_item.booking_id %></td>
    <td><%=h booking_item.priced_item.name %></td>
    <td><%=h booking_item.quantity %></td>
    <td><%= link_to 'Show', [@booking, booking_item] %></td>
    <td><%= link_to 'Edit', [:edit, @booking, booking_item] %></td>
    <td><%= link_to 'Destroy', [@booking, booking_item], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New booking item', new_booking_booking_item_path %>
